<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="member.model.LoginUserMapper">

	<select id="selectUser" parameterType="member" resultType="loginUser">
	select * from haeyoum.user
	where member_id = #{member_id}
	</select>
	
	<select id="confirmId" parameterType="member" resultType="int">
	select count(*) from haeyoum.user
	where member_id = #{member_id}
	</select>
			
</mapper>